@import "src/styles/index";

.list { 
  counter-reset: item;
  list-style-type: none;
  margin: 0 0 0 70px;

  li { 
    @include font-normal-m2;
    display: block;
    margin: 0;
  }
  
  li:before { 
    content: counter(item) "  "; 
    counter-increment: item;
    margin-right: 50px;
    margin-left: -70px;
  }
}