%anchor-section-column {
  @include flex-column-center;
  width: 100%;

  h1 {
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 300;
  }

  p {
    @include font-normal-xs;
  }
}

%anchor-section-row {
  @include flex-row-center;
  width: 100%;

  h1 {
    font-size: 72px;
    text-transform: uppercase;
    font-weight: 300;
  }

  p {
    @include font-normal-xs;
  }
}