%arrow {
  @include flex-column-center;
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  border: 2px solid $grey-color;
  border-radius: 50%;
  font-size: 10px;
  color: $grey-color;
  cursor: pointer;
  background-color: transparent;
}