%custom-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;

  input, textarea, :active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
  }

  input {
    @include font-normal-xs;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background-color: #00000080;
    border: 1px solid #FFFFFF33;
    color: $white-color;
    margin-bottom: 20px;
  }

  textarea {
    @extend input;
    resize: none;
    height: 160px;
  }

  ::placeholder { 
    color: $white-color;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: $white-color;
  }
  
  ::-ms-input-placeholder { 
    color: $white-color;
  }

  button {
    @extend %button;
    @include button-theme($orange-color);
    text-transform: uppercase;
    padding: 5px 15px;
    cursor: pointer;
  }
}