@import "src/styles/index";

.contacts {
  @extend %anchor-section-row;
  max-width: 1350px;

  &__info {
    width: 100%;
    margin-right: 140px;
  }

  &__form {
    @extend %custom-form;
    max-width: 500px;
  }
}