@import "src/styles/index";

.about {
  @extend %anchor-section-row;

  img {
    margin-right: 140px;
  }

  &__numbers {
    @include flex-row-center;
    justify-content: space-between;
    max-width: 800px;
    width: 100%;
    margin-top: 50px;
  
    div {
      @include flex-column-center;
      margin-right: 20px;
    }
  
    h3 {
      @include font-semi-bold-xl;
      margin-bottom: 10px;
    }
  
    p {
      @include font-normal-m3;
      margin: 0;
    }
  }
}