@import "src/styles/index";

.step {
  display: flex;
  align-items: center;
  height: 58px;
  padding: 10px;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 85% 58px;
  margin: 10px 10px 0 0;

  span {
    @include font-semi-bold-l;
    margin-right: 10px;
  }

  p {
    @include font-bold-xxs;
    text-transform: uppercase;
  }
}