@import "src/styles/index";

.feedback {
  @extend %anchor-section-column;
  max-width: 1150px;
  align-items: stretch;

  &__form {
    @extend %custom-form;
    margin-top: 30px;

    textarea {
      max-width: 1050px;
    }
  }
}