@import "var/index.scss";

html {
  font-family: 'Roboto', sans-serif !important; 
  overflow-y: auto;
}

body { 
  margin: 0;
  font-family: 'Roboto', sans-serif !important; 
  background-color: $black-color;
}

img {
  margin: 0;
}

button, button:active, button:focus {
  border: none;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  text-decoration: none;
  color: $white-color;
}