@import "mixins/index.scss";
@import "var/index.scss";

body { 
  margin: 0;
  font-family: 'Roboto', sans-serif; 
  background-color: $black-color;
}

button, button:active, button:focus {
  border: none;
  outline: none;
}

button::-moz-focus-inner {
  border: 0;
}

input, textarea, :active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
  border: none;
}