@import "src/styles/index";

.layout {
  display: flex;

  &__container {
    width: 100%;
    height: 100vh;
  }

  &__content {
    @include flex-column-center;
    color: $white-color;
    padding: 140px 70px 0;
    height: calc(100% - 145px);
  }
}