@import "src/styles/index";

.partners {
  @extend %anchor-section-row;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-right: 120px;

  &__logo {
    @include font-semi-bold-l;
    width: 180px;
    height: 180px;
    background-color: $dark-grey-color;
    color: $white-color;
    cursor: pointer;
  }

  &__logo_active {
    @extend .grid__logo;
    @include font-bold-l;
    background-color: $white-color;
    color: $black-color;
  }
}