@import "src/styles/index";

.betaForm {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 150px;

  .betaInputs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 550px;
    width: 100%;
  }

  input {
    max-width: 500px;
    width: 100%;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid $light-grey-color;
    color: $white-color;
    font-size: 22px;
    margin-bottom: 12px;
  }

  ::placeholder { 
    color: $white-color;
    opacity: 1;
  }
  
  :-ms-input-placeholder {
    color: $white-color;
  }
  
  ::-ms-input-placeholder { 
    color: $white-color;
  }

  button {
    background-color: transparent;
    padding: 10px 15px;
    font-size: 22px;
    color: $orange-color;
    margin-bottom: 12px;
    cursor: pointer;
  }
}