@import "src/styles/index";

.betaForm {
  @extend %custom-form;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 150px;

  &__inputs {
    @include flex-column-center;
    align-items: flex-start;
    max-width: 550px;
    width: 100%;
  }

  button {
    padding: 10px 15px;
    margin-bottom: 12px;
  }
}