@import "src/styles/index";

.info { 
  margin: 0 0 20px 50px;

  li { 
    @include font-normal-xs;
    padding-left: 20px;
  }
}

.areas {
  list-style: none;
  margin: 0 0 0 70px;

  li {
    @include font-normal-xs;
    margin: 0;
  }

  li:before {
    content: "○";
    padding-right: 30px;
    color: $light-grey-color;
  }
}