@import "src/styles/index";

.header {
  position: fixed;
  width: calc(100% - 350px);
  background-color: $black-color;
  display: flex;
  padding: 50px 70px 0;

  a {
    @include font-bold-s;
    height: 45px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-right: 30px;

    &:hover {
      @include underlined-text($orange-color);
    }

    &:last-child {
      color: $orange-color;
      margin-left: auto;
      margin-right: 0;
    }
  }

  &_active {
    @include underlined-text($orange-color);
  }

  &__logo {
    height: 50px;
    max-width: 180px;
    margin: 0;
  }
}