@import "src/styles/index";

.header {
  position: fixed;
  width: 100%;
  background-color: $black-color;

  &__container {
    @extend %content-container;
    padding: 70px 30px 40px;
    align-items: center;
  }

  &__logo {
    height: 50px;
    max-width: 180px;
    margin: 0;
  }

  a {
    @include font-normal-m3;
    height: 45px;
    white-space: nowrap;

    &:first-child {
      height: unset;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    width: 100%;

    a {
      padding: 0 10px;

      &:hover {
        @include underlined-text($white-color);
      }

      &:last-child {
        color: $orange-color;
        margin-left: auto;
      }

      &:last-child:hover  {
        @include underlined-text($orange-color);
        background-size: 90% 3px;
      }
    }

    &_active {
      @include underlined-text($white-color);

      &:last-child {
        @include underlined-text($orange-color);
        background-size: 90% 3px;
      }
    }
  }
}