@import "src/styles/index";

.footer {
  position: fixed;
  width: calc(100% - #{$sidebar-width});
  bottom: 0;
  display: flex;
  padding: 40px $content-padding-horizontal;
  height: $header-footer-height;

  &__item {
    @include font-normal-xxs;
    margin: 0 25px;
    color: $grey-color;
    height: 25px;

    &:first-child {
      margin-left: 0;
    }

    &_active {
      @include underlined-text($orange-color);
      color: $white-color;
    }
  }

  svg {
    font-size: 18px;
  }

  p {
    margin-bottom: 0;
  }
}