@import "src/styles/index";

.footer {
  position: fixed;
  width: calc(100% - 350px);
  bottom: 0;
  background-color: $black-color;
  display: flex;
  align-items: center;
  padding: 0 70px 35px;

  &__item {
    margin: 0 30px;
    color: $light-grey-color;
    height: 32px;

    &:first-child {
      margin-left: 0;
    }

    &_active {
      @include underlined-text($orange-color);
      color: $white-color;
    }
  }

  svg {
    font-size: 28px;
  }

  p {
    margin-bottom: 0;
  }
}