@import "src/styles/index";

.beta {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-bottom: 50px;
  }

  button {
    background-color: transparent;
  }

  .content {
    max-width: 750px;
    width: 100%;
  }

  .icon {
    font-size: 90px;
    color: $white-color;
    cursor: pointer;
  }
}