@import "src/styles/index";

.beta {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-bottom: 50px;
  }

  button {
    background-color: transparent;
  }

  .content {
    max-width: 750px;
    width: 100%;

    ol { 
      counter-reset: item;
      list-style-type: none;
      margin: 0 0 0 70px;
    }

    li { 
      display: block; 
      font-size: 22px;
      line-height: 1.6;
      margin: 0;
    }

    li:before { 
      content: counter(item) "  "; 
      counter-increment: item;
      margin-right: 50px;
      margin-left: -70px;
    }
  }

  .icon {
    font-size: 90px;
    color: $white-color;
    cursor: pointer;
  }

  .engagement {
    display: flex;
    align-items: center;
    margin-top: 30px;

    svg {
      font-size: 48px;
    }

    p {
      font-size: 22px;
      line-height: 1.6;
      margin: 0 0 0 40px
    }
  }
}
