@import "src/styles/index";

.promotions {
  @include flex-row-center;
  justify-content: flex-start;

  &__item {
    margin-right: 12px;
    max-width: 375px;
    width: 100%;

    div {
      background-color: $white-color;
      width: 375px;
      height: 375px;
      margin: 0 0 20px 0;
    }
  }
}