@mixin button-theme($bg-color, $color-text: $white-color) {
  color: $color-text !important;
  background-color: $bg-color !important;

  &:hover {
    background-color: lighten($bg-color, 7%) !important;
  }
}