@import "src/styles/index";

.tutorial {
  @extend %anchor-section-column;
  max-width: 1490px;

  &__slider {
    @include flex-row-center;
    width: 100%;
    margin-bottom: 30px;
  
    svg {
      font-size: 24px;
    }
  }

  p {
    max-width: 800px;
  }
}